body 
{
	overflow:hidden;
	font-family: LG Display;
	font-size:26px;
	color:#EEEEEE;
	margin:0px;	
	width:1280px;
	height:720px;
}
#loading
{
	position:absolute;
    height:137px;
}
#startcmd{
	height: 130px; 
	top: 550px; left: 400px; 
	display: block; 
	width: 480px; 
	padding: 10px; 
	border-radius: 10px; 
	color: black; 
	font-size: 16px; 
	position: absolute;
}
#popUp{
	position: absolute;	
	top:610px;
	left:960px;
	text-align:left;	
	width:290px;
	overflow:hidden;
	font-size:16px;
	color:#767676;
	background-color: #FCFCFE;
	padding:6px;
	border-radius:6px;
	border:1px solid #767676;
	z-index:2;
}
.cbutton{
	padding:3px;
	border-radius:4px;
	border:2px solid white;
	background-color:gray;
}
.pn{
	float:left;
	margin-left: 0px;
	overflow:hidden;
	width:46px;
	text-align:center;
}
.pt{
	padding:0px 2px 0px 90px;
	margin-left: 10px;
	width:auto;
}
.pch{
  margin: 2px 0px;
  width: 630px;
  border: 1px solid transparent;
  overflow:hidden;
  text-overflow: ellipsis;
}
.chclass{
	position:relative;
	width: 631px;
	padding:0px 0px 1px 0px;
	display:block;
	overflow:hidden;
	border-radius:6px;
}
#MenuCh{
	position:absolute;
	padding:3ppx 7px 3px 7px;
	margin:0px;
	left:290px;
	border:1px solid gray;
	width: 340px;
	height: auto;  
	height-max:710px;
	overflow:hidden;
	font-size:27px;
	border-radius:6px;
	  background-image: url('../img/title_fon.png');
}

.psearch{	
	padding:3px 3px 3px 2px;	
	margin:0px;
	width:510px;
	white-space: nowrap;
	line-height:100%;
}

.menuchannel{	
	padding:3px 3px 3px 2px;	
	margin:0px;
	white-space: nowrap;
	line-height:100%;
	overflow:hidden;
}
#main
{
     position: absolute;
     left: 0px; top: 0px;
     width: 1280px;height: 720px;
     font-size:28px;
}
#pr
{
     position: absolute;
     left: 0px; top: 0px;
     width: 1280px;height: 720px;
}
input {
	font-size:27px;
	width:500px;
}
#vk
{
     position: absolute;
     left: 200px; 
     top: 437px;
     width: auto;
     height: auto;
     z-index:2;
}
.buttons img{
	margin:14px 3px 0px 0px;
}
.buttons{	
	float:left;
	width: 65px;
	height: 61px;
	background-image: url(../img/lg_keyboard_buttons.png);
	background-position: -4px -4px;
	font-size: 38px;
	line-height: 61px;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	color: #fff;
	border:none;
}
#QualCh{
	position:absolute;
	padding:6px 2px 6px 2px;
	margin:0px;
	left:448px;
	top:220px;
	border:1px solid gray;
	width: auto;
	height: auto;  
	z-index:1;
	height-max:410px;
	overflow:hidden;
	font-size:32px;
	border-radius:7px;
	background-image: url('../img/title_fon.png');
}
#bstatus{
	 float:right;
	 padding:6px 5px 0px 5px;
	 margin:4px;
	 text-align:right;
	 vertical-align:middle;
	 width:120px;
	 font-size:23px;
	 height:27px;
}
.btext{
	padding-top:2px;
}
#jtv
{
	position: absolute;
	top: 423px;
	padding:2px 10px 3px 10px;
	margin:0px;
	height: 88px;
	font-size:14px;
	width: 100%;
	text-align:left;
	background-image: url('../img/title_fon.png');
	overflow:hidden;
}

#bottom img
{
	height:30px;
	width:30px;
	position: static;
	float:left;
	padding:5px 2px 0px 10px;
	margin-top:0px;
}
#bottom
{
	margin:0px 15px;
	position: absolute;
	top: 680px;
	padding:0px 0px 0px 0px;
	height: 40px;
	width: 1250px;
	text-align:left;
	overflow:hidden;
}

#reserve img{
	padding-top:5px;	
	padding-left:12px;
	float:left;
}
#reserve{
	width:24px;
	display:none;	
}

#remote img{
	float:left;
	padding-top:5px;
}
#remote{
	padding-left:1125px;
	width:24px;
	display:block;	
}
#top .widget_title
{
	width:830px;
	height:32px;
	overflow:hidden;
	left:25px;
	position: absolute;
	font-weight:bold;
}

#leftHalf{	
	width: 100%;
	height:640px;
	position:absolute;
	left:13px;
	top:79px;
	overflow:hidden;
}
.razd{
	padding:2px 3px 0px 2px;
}
#top2load
{
	z-index:4;
	margin:0px 12px;
	position: absolute;
	top: 40px;
	height: 41px;
	width: 5px;
	border-radius:4px;
}
.insetType div{
	height:32px;	
	overflow:hidden;
	white-space: nowrap;
}
.insetType{
	margin: 0px 2px;
	padding:0px 0px;
	width:175px;
	border-radius:4px;
	height:33px;
	border:2px solid transparent;
	background-image: url('../img/insetOff.png');
	float:right;
}
#inset img{
	float:left;
	padding:0px 3px 0px 0px;
}
#inset
{
	margin:0px 12px;
	position: absolute;
	top: 1px;
	padding-top:2px;
	height: 36px;
	width: 800px;
	overflow:hidden;
	text-align:left;
}
#top2
{
	margin:0px 12px;
	position: absolute;
	top: 42px;
	padding-top:3px;
	height: 35px;
	width: 1256px;
	font-size:24px;
	border-radius:4px;
	background-image: url('../img/title_fon.png');
	overflow:hidden;
	white-space: nowrap;
}
.top2text
{
	padding:4px 5px 0px 0px;
	white-space: nowrap;
	overflow:hidden;
}

#top
{
	position: absolute;
	top: 3px;
	padding:2px 3px 0px 3px;
	height: 29px;
	width: 100%;
}
#top #widget_date
{
	left:835px;
	position: absolute;
	font-weight:bold;
}

#top #widget_time
{	
	width:56px;
	height:26px;
	left:1160px;
	position: absolute;
	font-weight:bold;
	background-repeat: no-repeat;
}


#rightHalf
{
    position: absolute;
    left:649px; top: 81px;
    width: 629px; 
    height: 600px;
}
#infoList
{
	position:absolute;
	border-radius:4px;
	padding:0px 4px;
    width:611px; 
	max-height:600px;
	font-size:22px;
	line-height:100%;	
	background-image: url('../img/title_fon2.png');

}
#statusbar
{
    height: auto;
	padding:5px;
    left: 13px;
    position: absolute;
    top: 4px;
    width: auto;
	text-align:left;
	font-size:18px;
}